/* 
.main_heading{
    font: 30px solid black;
background-color: lightgreen;
text-align: center;

}
.navbar-brand{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: bold !important;
    font-size: 50px !important;
    
    }

    li >a{

        font: 25px solid black !important;
    }
    
.dropdown{

    margin-right: 20px !important;
    padding: 10px !important;
    }
    
    .dropdown-toggle{
    
    
    font-size: 25px !important;
    font-weight: bold !important;
    
    
    } */


    h3{
        font-family: Calibri; 
        font-size: 25pt;         
        font-style: normal; 
        font-weight: bold; 
        color:SlateBlue;
        text-align: center; 
        text-decoration: underline
      }
      
      table{
        font-family: Calibri; 
        color:white; 
        font-size: 11pt; 
        font-style: normal;
        font-weight: bold;
        text-align:; 
        background-color: SlateBlue; 
        border-collapse: collapse; 
        border: 2px solid navy
      }
      table.inner{
        border: 0px
      }